{% extends "base.html" %}

{% block content %}

<h1 class="title">
  Welcome
</h1>
<!--
<h2 class="subtitle">
  Call function to display stats
</h2>
-->
<div class="column is-4 is-offset-4">
    <h3 class="title">Player Look Up</h3>
     <form method="POST" action="/">
    <div class="box">
        <div class="table">
            <tr><th2>Career</th2>
                <th><label class="toggle-switch">
                    <input type="checkbox" name="csStats" value="season">
                    <span class="slider"></span>
                    </label></th>
                <th2>Season</th2>
            </tr>
        </div>
</div>
    <div class="box">

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="playerName" name="playerName" placeholder="Player's Name" autofocus="">
                </div>
            </div>
            <input type="hidden" name="btn_identifier" value="search" />
            <button class="button is-block is-info is-large is-fullwidth">Submit</button>
            <table>
                 <tr>
    <td>Player Name:</td>
    <td> {{name}} </td>
  </tr>
  <tr>
    <td>Games Played: </td>
    <td> {{gamesPlayed}} </td>
  </tr>
  <tr>
    <td>Batting Average:</td>
    <td> {{batAvg}} </td>
  </tr>
  <tr>
    <td>HomeRuns: </td>
    <td> {{homeruns}}  </td>
  </tr>
  <tr>
    <td>Strike Outs:</td>
    <td> {{strikeouts}}  </td>
  </tr>
  <tr>
    <td>RBI:</td>
    <td> {{rbi}} </td>
  </tr>
</table>

    </div>
</div>
</div>


{% endblock %}
