{% extends "base.html" %}
{% block content %}

<table style="width:100%">
            <tr>
                <th>Position</th>
                <th>Name</th>
                <th>Desired Stats</th>
            </tr>
            <tr>
                <th>1</th>
                <th>{{p1}}</th>
                <th>BA, SB, BB, OBP, SO</th>
            </tr>
            <tr>
                <th>2</th>
                <th>{{p2}}</th>
                <th>BA, BB, OBP, 2B, RBI, SO</th>
            </tr>
            <tr>
                <th>3</th>
                <th>{{p3}}</th>
                <th>BA, BB, OBP, HR, RBI, SO, SLG</th>
            </tr>
            <tr>
                <th>4</th>
                <th>{{p4}}</th>
                <th>BA, BB, OBP, HR, RBI, SO, SLG</th>
            </tr>
            <tr>
                <th>5</th>
                <th>{{p5}}</th>
                <th>OBP, HR, RBI, SLG</th>
            </tr>
            <tr>
                <th>6</th>
                <th>{{p6}}</th>
                <th>BB, OBP, H, BB</th>
            </tr>
            <tr>
                <th>7</th>
                <th>{{p7}}</th>
                <th>BB, OBP, H</th>
            </tr>
            <tr>
                <th>8</th>
                <th>{{p8}}</th>
                <th>BB, OBP, SO</th>
            </tr>
            <tr>
                <th>9</th>
                <th>{{p9}}</th>
                <th>BB, OBP, SO</th>
            </tr>
        </table>

{% endblock %}