<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<style>
    table, th, td {
        border:1px solid black;
    }
    table, th {width:20%}
</style>
<div class="column is-4 is-offset-4">
    <h3 class="title">Season Standings</h3>
    <div class="box">
          <form method="CHANGE" action="/standings">
            <input type="hidden" name="mode" value="CHANGE" />
                <button class="button is-block is-info is-large is-fullwidth">Change League</button></form>
    <div class="box">
        {{data.league|safe}}
        <table  style="width:100%">
            <tr>
                <th>Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Win%</th>
                <th>GB</th>
            </tr>
            {% for team in data.East %}
           <tr>

                <th><a href="{{ url_for('auth.team', name = team.0) }}">{{team.0}}</a></th>
                <th>{{team.1}}</th>
                <th>{{team.2}}</th>
                <th>{{team.3}}</th>
                <th>{{team.4}}</th>
            </tr>
            {% endfor %}

        </table>
        <br>
        <table style="width:100%">
            <tr>
                <th>Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Win%</th>
                <th>GB</th>
            </tr>
             {% for team in data.Central %}
           <tr>

                <th><a href="{{ url_for('auth.team', name = team.0) }}">{{team.0}}</a></th>
                <th>{{team.1}}</th>
                <th>{{team.2}}</th>
                <th>{{team.3}}</th>
                <th>{{team.4}}</th>
            </tr>
            {% endfor %}

        </table>
        <br>
        <table  style="width:100%">
            <tr>
                <th>Name</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Win%</th>
                <th>GB</th>
            </tr>
            {% for team in data.West %}
           <tr>

                <th><a href="{{ url_for('auth.team', name = team.0) }}">{{team.0}}</a></th>
                <th>{{team.1}}</th>
                <th>{{team.2}}</th>
                <th>{{team.3}}</th>
                <th>{{team.4}}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}