{% extends "base.html" %}
{% block content %}

<h1>{{data.teamName}}</h1>
<div class="box">
        <table style="width:100%">
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Position</th>
            </tr>
             {% for player in data.playerList %}
            <tr>
                <th>{{player.0}}</th>
                <th><a href="{{ url_for('auth.lineup', name = nm1) }}">{{player.2}} {{player.3}}</a></th>
                <th>{{player.1}}</th>
            </tr>
             {% endfor %}
        </table>
    </div>

{% endblock %}